input[type="text"] {
    padding: 15px 22px; 
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    width: calc(50% - 50px); 
    transition: all 0.3s ease;
    outline: none;
}
.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.contain{
    display: flex;
    height: 1vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px; 

}
.rating {
    font-size: 24px;
    color: orange; /* Change the color of the stars */
}

input[type="text"]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}
*{
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}
nav{

    background-color: #a3e6a1;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color: #7aad78;
    color: white;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 30px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    text-align: center;
}
.image {
    display: inline-block;
    width: 50px;
    height: 50px; 
    margin-right: 10px; 
}
.item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;

}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none; 
    outline: none;
    background-color: rgb(211, 30, 148);
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all ;
    


}
.item button :hover{
    transform: scale(1.08);
    
}
@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }


}
    
